@import 'admin-lte/dist/css/adminlte.css';

/* Custom smaller dropdown for user-menu */
.dropdown-menu-sm {
	min-width: 180px; /* narrower menu */
	padding: 0.25rem 0.25rem;
}
.dropdown-menu-sm .user-header {
	padding: 0.5rem 0.75rem;
	font-size: 0.95rem;
}
.dropdown-menu-sm .user-body .row > div a {
	display: inline-block;
	padding: 0.25rem 0.5rem;
	font-size: 0.9rem;
}
.dropdown-menu-sm .user-footer .btn {
	padding: 0.35rem 0.5rem;
	font-size: 0.88rem;
}
